<section>
    <div class="container-flluid" id="hero" [ngClass]="webpSupport ? 'webp':'no-webp'">
        <video id="video-bg" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true"
            poster="/assets/webradra_video2.mp4">
            <source src="/assets/webradra_video2.mp4" type="video/mp4">
        </video>
        <div id="content-hero">
            <div>
                <img loading="lazy" class="hero-logo" src="/assets/Grupo 2883-1@2x.png" alt="Radar Control Total Logo Logotipo">
            </div>
            <div id="titles">
                <h1>EL MEJOR SOFTWARE DE GESTIÓN</h1>
                <h2>PARA TALLER DE HOJALATERÍA Y PINTURA.</h2>
            </div>
            <div id="btns">
                <button id="fst-btn" routerLink="/contactanos">
                    <span class="hero-btn ga-call-to-action" data-ga-element="SOLICITAR UN DEMO">SOLICITAR UN DEMO</span>
                </button>
            </div>
            <div id="scroll-gif">
                <a [routerLink]="['/']" onclick="document.getElementById('presentacion').scrollIntoView();">
                    <img loading="lazy" src="/assets/scroll_animacion.gif" alt="" class="img-fluid" alt="Radar Control Total Scroll">
                </a>
            </div>
        </div>
    </div>
</section>
