<footer class="footer-container">
    <div class="container">
        <div class="row justify-content-center justify-content-lg-start">
            <div class="col-9 col-sm-8 col-lg-4 image-container py-4 py-lg-0">
                <a routerLink="/">
                    <img src="assets/Logo-Radar-Footer.png" class="img-fluid" alt="Radar Control Total Logo Footer">
                </a>
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-4 section-text">CONTACTO</div>
                    <div class="col-lg-8 section-list">
                        <ul class="list">
                            <li>Tel. 444 860 9315</li>
                            <li>ventas@radarcontroltotal.com</li>
                            <li>Cuauhtémoc #906 Col. Burócrata San Luis Potosí, S.L.P.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-5 section-text">NAVEGACIÓN</div>
                    <div class="col-lg-7 section-list">
                        <ul class="list">
                            <li><a class="footer-link" routerLink="versiones">Versiones</a></li>
                            <li><a class="footer-link" routerLink="herramientas">Herramientas</a></li>
                            <li><a class="footer-link" routerLink="testimonios">Testimonios</a></li>
                            <li><a class="footer-link" routerLink="contactanos">Contactanos</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 copyright">
                <p>© RADAR CONTROL TOTAL</p>
            </div>
        </div>
    </div>
</footer>