<section >
    <div class="container-fluid" id="info-herramienta">
        <div class="row justify-content-center">
            <div class="col-sm-10 col-md-8 col-lg-6">
                <div class="row">
                    <h1 class="text-center" id="info-title">{{infoTitle}}</h1>
                </div>
                <div class="row">
                    <p class="text-center" id="info-text">{{infoText}}</p>
                </div>
                <div *ngIf="infoVideo" class="row">
                    <div id="video">
                        <iframe src="https://www.youtube.com/embed/DctbcSQCphw" title="RadarAcadmey" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>                    
                </div>
                <div class="row justify-content-center">
                    <div class="col-xxl-5 col-xl-6 col-lg-8 col-10" id="btn-div">                
                        <button id="info-btn" routerLink="{{btnRoute}}" class="ga-call-to-action" [attr.data-ga-element]="btnText"><span>{{btnText}}</span></button>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</section>