<section >
    <div class="container-fluid" id="info-herramienta">
        <div class="row w-100">
            <div class="col-sm-1 col-lg-2">
            </div>
            <div class="col">
                <div class="row">
                    <h1 class="text-center" id="info-title">{{infoTitle}}</h1>
                </div>
                <div class="row">
                    <p class="text-center" id="info-text">{{infoText}}</p>
                </div>
                <div *ngIf="infoVideo" class="row">
                    Video from youtube
                </div>
                <div class="row">
                    <div class="text-center" id="btn-div">                
                        <button id="info-btn"><span>AGENDA UNA REUNIÓN WEB</span></button>
                    </div>
                </div>
            </div>
            <div class="col-sm-1  col-lg-2">
            </div>
        </div>        
    </div>
</section>