<section>
<div class="container-fluid" style="background: transparent url('/assets/FONDO_certificado.png') 0% 0% no-repeat padding-box; background-size: cover;" id="certificacion-container">
    <div class="row justify-content-center">
        <div class="col-lg-9">
            <div class="row justify-content-center">
                <div class="col-8 col-md-7 col-lg-4">
                    <div class="certificacion-card left">
                        <img loading="lazy" src="/assets/certificado.png" class="img-fluid" alt="Radar Control Total certificación">
                        <div class="bottom-text">                    
                            <h1>Obtén una certificación para todo el personal de tu taller</h1>
                        </div>
                    </div>
                </div>
                <div class="col-8 col-md-7 col-lg-4 bottom-card">
                    <div class="certificacion-card right">
                        <img loading="lazy" src="/assets/man-mechanic-and-woman-customer-discussing-repairs-done-to-her-vehicle.png" class="img-fluid" alt="Radar Control Total Curso Roles">
                        <div class="bottom-text">                    
                            <h1>Cada curso se enfoca en los diferentes roles de tu taller</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">   
                <div class="col-xxl-2 col-xl-4 col-lg-6  d-xl-inline d-none" id="visitar-certificacion">
                    <button id="visitar-certificacion"><span>SOLICITAR UN DEMO</span></button>
                </div>        
            </div>
        </div>
    </div>
    
</div>
</section>