<!-- El margen y el contenedor se pueden eliminar cuando se utilicen en el carrusel -->
<div class="container-fluid testimonios-card-container">
    <div class="row w-100 h-100 justify-content-center card-row">
        <!-- Contenedor de la tarjeta -->
        <div class="col-12 card-container py-4 py-md-5">
            <div class="row h-100">
                <!-- Imagen -->
                <div class="col-12 col-md-4 col-lg-3 d-flex align-items-start justify-content-center mb-2">
                    <img class="card__person-image" src="{{cardInformation.image2}}">
                </div>
                <!-- Informacion -->
                <div class="col-12 col-md-8 col-lg-9">
                    <div class="row d-flex flex-column align-items-start testimonios-titles">
                        <div class="col-12 col-lg-10 px-4">
                            <p class="card__title">{{cardInformation.TITLE}}</p>
                        </div>
                        <div class="col-12 px-4">
                            <p class="card__location">{{cardInformation.location}}</p>
                        </div>
                    </div>
                    <div class="row testimonios-text">
                        <div class="col-12 col-lg-11 px-4 mb-2">
                            <p class="card__text">{{cardInformation.text}}</p>
                        </div>
                        <div class="col-12 px-4 align-self-end">
                            <p class="card__name text-center text-md-start">{{cardInformation.name + ' - '}}<span
                                    style="font-weight: 500;">{{cardInformation.position}}</span></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>