.card-container {
  background: #FCFCFC 0% 0% no-repeat padding-box;
  border: 1px solid #6C6C6C5E;
  border-radius: 19px;
  box-shadow: 0px 3px 6px #00000029;
  height: 100%;
  padding: 5% 2%;
}

p {
  margin: 0;
}

.card__image-container {
  margin-top: 20px;
}

.card__person-image {
  width: 135px;
  height: 135px;
  object-fit: cover;
}

.card__location {
  color: #B1B1B1;
  font-size: 22px;
  letter-spacing: 1.2px;
}

.card__workshop {
  color: #022644;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.card__person-data-container {
  margin-top: 20px;
}

.card__person-name {
  color: #A4A4A4;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 600;
}

.card__person-position {
  color: #A4A4A4;
  font-size: 18px;
  letter-spacing: 1px;
}

.card__testimony-container {
  padding: 0 20px;
  margin-top: 20px;
  flex-grow: 1;
}

.card__testimony-container>p {
  color: #022644;
  font-size: 18px;
  letter-spacing: 1.1px;
  font-style: italic;
}