<section id="beneficios" class="py-5">
    <div class="container-xl">
        <div class="row justify-content-center">
            <div class="col-12 px-3 my-3 my-lg-5">
                <p class="title1">COMIENZA A BENEFICIARTE CON RADAR EN <span class="title2">4 PASOS</span></p>
            </div>
            <div class="col-10 col-lg-9">
                <div class="row justify-content-center justify-content-lg-around">
                    <!-- Lista de Beneficios -->
                    <div class="col-5 col-md-2 m-2 px-lg-2" *ngFor="let element of listaBeneficios">
                        <div class="row justify-content-center">
                            <div class="col d-flex justify-content-center">
                                <img loading="lazy" class="img" src="{{element.imagen}}" alt="Radar Control Total {{element.texto}}">
                            </div>
                            <div class="separador"></div>
                            <div class="col p-0 text-md-center text-lg-start">
                                <p class="texto-beneficio">{{element.texto}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 d-none d-lg-flex justify-content-lg-center py-4">
                <a routerLink="contactanos">
                    <button class="principal-button py-2 px-5 ga-call-to-action" data-ga-element="DA EL PRIMER PASO">
                        DA EL PRIMER PASO
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>