<section id="versiones" [ngClass]="webpSupport? 'webp':'no-webp'">
    <div class="container-fluid page-container">
        <div class="row">
            <div class="col-11 col-md-7">
                <p class="text">RADAR SE ADAPTA A LAS NECESIDADES <span class="text2">DE TU TALLER DE LAMINADO Y PINTURA</span></p>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-xxl-3">
                    <a style="width:100%" routerLink="versiones" class="ga-call-to-action" data-ga-element="VER VERSIONES">
                        <button class="principal-button py-2 px-md-4">
                            VER VERSIONES
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
