#versiones {
  background-image: url("/assets/Grupo476.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.page-container {
  padding: 9rem 4rem 9rem 4rem;
}
.text {
  font-size: 24px;
  color: #ffffff;
}

.text2 {
  font-weight: bold;
}

.principal-button {
  font-size: 18px;
  width: 100%;
  font-weight: 400;
  color: #ffffff;
  background-color: #afd625;
  border-radius: 6px;
  border: none;
}

@media (min-width: 1200px) {
  .page-container {
    padding: 10% 10%;
  }

  .text {
    font-size: 40px;
  }

  .principal-button{
    font-size: 22px;
  }
}

@media (max-width : 600px){
  #versiones{
    background-image: url("/assets/VersionesHome-Movil.png");
  }
}