<section id="versiones">
    <div class="container-fluid page-container">
        <div class="row">
            <div class="col-11 col-md-7">
                <p class="text">ENCUENTRA LA VERSIÓN QUE <span class="text2">MÁS SE ADAPTE A TU
                        TALLER</span></p>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-xxl-3">
                    <a style="width:100%" routerLink="versiones">
                        <button class="principal-button py-2 px-md-4">
                            VER VERSIONES
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>