<div class="container-xl presentation-container">
    <div class="row justify-content-center align-items-lg-center">
        <div class="col-12 col-lg-5">
            <div class="row">
                <!-- Texto Principal -->
                <div class="col-12 col-lg-8">
                    <p class="presentation-title px-4 px-lg-0 my-4">
                        TE PRESENTAMOS
                        <span class="presentation-title2">RADAR</span>
                    </p>
                </div>
                <!-- Texto Informativo -->
                <div class="col-11">
                    <p class="presentation-text px-4 px-lg-0 m-0 mb-5">
                        Es un sistema de gestión que nace dentro de un taller. Se creó a partir del conocimiento de
                        dueños,
                        asesores, jefes de taller y valuadores de taller, esto nos permite conocer tus problemas y
                        necesidades
                        de primera mano. RADAR es un sistema flexible que se puede adaptar a la medida de cualquier
                        taller.
                    </p>
                </div>
            </div>
        </div>



        <div class="col-11 col-md-8 col-lg-6 d-flex justify-content-center mb-4 mb-lg-0">
            <div class="ratio ratio-16x9">
                <!-- VIDEO -->
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/297VOm96_-E"
                    title="Radar Control TOTAL" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>