.presentation-title,
.presentation-title2 {
  font-size: 22px;
}

.presentation-title {
  color: #464646;
  font-weight: 400;
}

.presentation-title2 {
  color: #022644;
  font-weight: bold;
}

.presentation-text {
  color: #191919;
  font-size: 15px;
}

.youtube-video {
  max-width: 70%;
  height: auto;
}

.presentation-container {
  padding-top: 5%;
  padding-bottom: 5%;
}

@media (min-width: 1200px) {
  .presentation-title,
  .presentation-title2 {
    font-size: 36px;
  }
  .presentation-text {
    font-size: 18px;
  }
}
