#funcionalidadesRadar {
  background-image: url("/assets/FondoFuncionalidadesHome.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.section__Subtitle {
  color: #ffffff;
  font-size: 20px;
  margin: 0;
  text-align: center;
}

.section__Title {
  color: #afd625;
  font-size: 28px;
  margin: 0;
  text-align: center;
}

.card {
  border: 1.5px solid #3f51b5;
  border-radius: 15px;
  padding: 2%;
  background-color: transparent;
  min-height: 430px;
}

.mobile__benefit-name {
  color: #ffffff;
  font-size: 16px;
  margin: 0;
}

.mobile__benefit-subtitle {
  color: #afd625;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
.mobile__benefit-text {
  color: #ffffff;
  font-size: 16px;
  margin: .5rem;
}

.mobile__benefit-text-long {
  color: #ffffff;
  font-size: 15px;
  margin: .5rem;
}

.card__arrow-button {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.mobile-card__ellipsebutton{
  margin: 0 8px;
}