.title {
  color: #022644;
  font-size: 32px;
  font-weight: bold;
}

.prueba {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.imageColumn {
  padding: 0;
}
.process-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.text-container {
  width: 100%;
  height: 40%;
  padding: 8% 7% 0% 0%;
  bottom: 0;
  left: 0;
  transform: matrix(-1, 0, 0, -1, 0, 0);
  background: transparent linear-gradient(180deg, #022644 0%, #02264400 100%) 0%
    0% no-repeat padding-box;
  opacity: 1;
}

.text-information {
  transform: matrix(-1, 0, 0, -1, 0, 0);
}

.process-number {
  display: inline-block;
  color: #ffffff;
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
  letter-spacing: 3.44pt;
}

.process-name {
  color: #ffffff;
  font-size: 1.6rem;
  margin: 0;
  padding-bottom: 5%;
  letter-spacing: 0.72px;
}

.process-information {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #022644;
  opacity: 0.8;
}

.process-information__text,
.process-information__duration {
  color: #ffffff;
  font-size: 1rem;
  text-align: center;
}

.process-information__duration {
  font-style: italic;
}

.process-information__optional {
  font-size: 1.3rem;
  color: #ffffff;
  font-style: italic;
}

@media (max-width: 991px) {
  .imageColumn {
    max-height: 800px;
  }
}
@media (min-width: 992px) {
  .sectionContainer {
    min-height: 600px;
  }
}

@media (min-width: 768px) {
  .images-row {
    border-bottom: 1em solid #afd625;
  }

  .sectionContainer {
    padding: 3% 0 5% 0;
  }
}

@media (max-width: 700px) {
  .process-number {
    font-size: 4.8rem;
  }
  .process-name {
    font-size: 1.2rem;
  }
  .title-column {
    padding: 15% 7%;
  }

  .title {
    font-size: 24px;
  }
}

@media (min-width: 576px) and (max-width: 766px) {
  .text-container {
    height: 60%;
  }
  .process-information__text,
  .process-information__duration {
    font-size: 2rem;
  }
  .process-information__optional {
    font-size: 1.5rem;
  }

  .process-name {
    font-size: 1.6rem;
  }

  .process-number {
    font-size: 7.2rem;
  }
}

@media (min-width: 1000px) and (max-width: 1150px) {
  .process-information__text,
  .process-information__duration {
    font-size: .8rem;
  }
  .process-information__optional {
    font-size: 0.8rem;
  }

  .process-name {
    font-size: 0.7rem;
  }

  .process-number {
    font-size: 2.4rem;
  }
}

@media (min-width: 767px) and (max-width: 999px) {
  .process-information__text,
  .process-information__duration {
    font-size: 0.8em;
  }
  .process-information__optional {
    font-size: 0.6rem;
  }

  .process-name {
    font-size: 0.5rem;
  }

  .process-number {
    font-size: 2.4rem;
  }
}

@media (min-width: 1151px) and (max-width: 1400px) {
  .process-information__text,
  .process-information__duration {
    font-size: 1rem;
  }
  .process-information__optional {
    font-size: 0.8rem;
  }

  .process-name {
    font-size: .8rem;
  }

  .process-number {
    font-size: 2.8rem;
  }
}

@media (min-width: 1400px) {
  .process-number {
    font-size: 4rem;
  }
  .process-name {
    font-size: 1.2rem;
  }

  .process-information__text,
  .process-information__duration {
    font-size: 1.3rem;
  }
}

@media (min-width: 1600px) {
  .process-number {
    font-size: 4.8rem;
  }
  .process-name {
    font-size: 1.3rem;
  }

  .process-information__text,
  .process-information__duration {
    font-size: 1.5rem;
  }
}
