#gradient-bg{
    padding-left: 8vw;
    padding-right: 8vw;
    padding-top: 123px;
    padding-bottom: 123px;
    background: transparent linear-gradient(90deg, #022644 0%, #02264400 83%) 0% 0% no-repeat padding-box;
}
#hero{
    width: 100%;
    height: auto;
    padding: 0;
}
#title{

    transform: matrix(1, 0, 0, 1, 0, 0);
    /* UI Properties */
    width: 100%;
    text-align: left;
    letter-spacing: 2.88px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}

#btns{
    display: block;
    position: relative;
    bottom: 0px;
    margin-top: 16px;
}
#titles h1 {
    margin: 0px;
    width: 100%;
    text-align: left;
    font-size: 22px;
    line-height: 26px;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    letter-spacing: 2.88px;
    color: #FFFFFF;
    text-transform: uppercase;
}
#titles h2 {
    margin: 0px;
    width: 100%;
    text-align: left;
    font-size: 22px;
    line-height: 26px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    letter-spacing: 2.88px;
    color: #FFFFFF;
    text-transform: uppercase;
}
#fst-btn{
    display: inline;
    height: 38px;
    background: #AFD625 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    border: none;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
}
#snd-btn{
    height: 46px;
    background: #AFD625 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    border: none;
    margin-left: 26px;
    display: none;
    padding-left: 18px;
    padding-right: 18px;
}
button .hero-btn{
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    letter-spacing: 0.66px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
@media screen and (min-width: 576px) {
    #gradient-bg{
        padding-left: 10vw;
        padding-right: 10vw;
        padding-top: 160px;
        padding-bottom: 160px;
    }
    #titles h1 {
      font-size: 34px;
      line-height: 45px;
        font-style: normal;
        font-variant: normal;
        font-weight: 600;
    }
    #titles h2 {
      font-size: 34px;
      line-height: 45px;
        font-style: normal;
        font-variant: normal;
        font-weight: 300;
    }

    #fst-btn{
        height: 46px;
        width: auto;
        padding-left: 18px;
        padding-right: 18px;
    }
}

@media screen and (min-width: 768px) {
    #titles h1 {
      font-size: 38px;
      line-height: 51px;
        font-style: normal;
        font-variant: normal;
        font-weight: 600;
    }
    #titles h2 {
      	font-size: 38px;
      	line-height: 51px;
        font-style: normal;
        font-variant: normal;
        font-weight: 300;
    }
    #btns{
        display: block;
        position: relative;
        bottom: 0px;
        margin-top: 34px;
    }
    #gradient-bg{
        padding-left: 12vw;
        padding-right: 12vw;
        padding-top: 251px;
        padding-bottom: 251px;
    }
    button .hero-btn{
        font-size: 18px;
        line-height: 24px;
        font-style: normal;
        font-variant: normal;
        font-weight: 600;
    }
}

@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}
