#hero-title{
    height: 856px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#title{
    position: absolute;
    top: 314px;
    left: 278px;
    width: 871px;
    height: 207px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    /* UI Properties */
    text-align: left;
    letter-spacing: 2.88px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
#title h1 {
    width: 871px;
    height: 64px;
    text-align: left;
    font: normal normal 600 48px/64px Segoe UI;
    letter-spacing: 2.88px;
    color: #FFFFFF;
    text-transform: uppercase;
}
#title h2 {
    top: 64px;
    left: 0px;
    width: 871px;
    height: 64px;
    text-align: left;
    font: normal normal 300 48px/64px Segoe UI;
    letter-spacing: 2.88px;
    color: #FFFFFF;
    text-transform: uppercase;
}
#fst-btn{
    position: absolute;
    top: 485px;
    left: 278px;
    width: 268px;
    height: 58px;
    background: #AFD625 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    border: none;
}
#snd-btn{
    position: absolute;
    top: 485px;
    left: 579px;
    width: 527px;
    height: 58px;
    background: #AFD625 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    border: none;
}
button .hero{
    text-align: center;
    font: normal normal 600 22px/30px Segoe UI;
    letter-spacing: 0.66px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}