#gradient-bg{
    padding-left: 8vw; 
    padding-right: 8vw; 
    padding-top: 123px;
    padding-bottom: 123px;
    background: transparent linear-gradient(90deg, #022644 0%, #02264400 83%) 0% 0% no-repeat padding-box;
}
#hero{
    width: 100%;
    height: auto;
    padding: 0;
}
#title{
    
    transform: matrix(1, 0, 0, 1, 0, 0);
    /* UI Properties */
    width: 100%;
    text-align: left;
    letter-spacing: 2.88px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
 
#btns{
    display: block;
    position: relative;
    bottom: 0px;
    margin-top: 16px;
}
#titles h1 {
    margin: 0px;
    width: 100%;
    text-align: left;
    font: normal normal 600 22px/26px Segoe UI;
    letter-spacing: 2.88px;
    color: #FFFFFF;
    text-transform: uppercase;
}
#titles h2 {
    margin: 0px;
    width: 100%;
    text-align: left;
    font: normal normal 300 22px/26px Segoe UI;
    letter-spacing: 2.88px;
    color: #FFFFFF;
    text-transform: uppercase;
}
#fst-btn{
    display: inline;
    height: 38px;
    background: #AFD625 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    border: none;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
}
#snd-btn{
    height: 46px;
    background: #AFD625 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    border: none;
    margin-left: 26px;
    display: none;
    padding-left: 18px;
    padding-right: 18px;
}
button .hero-btn{
    text-align: center;
    font: normal normal 600 16px/22px Segoe UI;
    letter-spacing: 0.66px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
@media screen and (min-width: 576px) {
    #gradient-bg{
        padding-left: 10vw; 
        padding-right: 10vw; 
        padding-top: 160px;
        padding-bottom: 160px;
    }
    #titles h1 {
        font: normal normal 600 34px/45px Segoe UI;
    }
    #titles h2 {
        font: normal normal 300 34px/45px Segoe UI;
    }
    
    #fst-btn{        
        height: 46px;
        width: auto;
        padding-left: 18px;
        padding-right: 18px;
    }
}

@media screen and (min-width: 768px) {
    #titles h1 {
        font: normal normal 600 38px/51px Segoe UI;
    }
    #titles h2 {
        font: normal normal 300 38px/51px Segoe UI;
    }
    #btns{
        display: block;
        position: relative;
        bottom: 0px;
        margin-top: 34px;
    }
    #gradient-bg{
        padding-left: 12vw; 
        padding-right: 12vw; 
        padding-top: 251px;
        padding-bottom: 251px;
    }
    button .hero-btn{   
        font: normal normal 600 18px/24px Segoe UI;
    }
}

@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}
