<div id="hero-title" style="background: transparent url('/assets/Grupo 541.png') 0% 0% no-repeat;">
        <div id="title-hero">
            <div id="title">
                <h1>CAPACITA A TUS COLABORADORES</h1>
                <h2>EN CUESTIÓN DE HORAS</h2>
            </div>
            <button id="fst-btn">
                <span class="hero">SOLICITAR UN DEMO</span>            
            </button>
            <button id="snd-btn"> 
                <span class="hero">CONOCE LA VERSION RADAR CONTROL TOTAL</span>            
            </button>
        </div>
</div>