<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light navbar-scroll" (scroll)="onScroll();" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#">IMAGEN RADAR</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-sm-center justify-content-end" id="navbarNavAltMarkup">
            <ul class="navbar-nav  mr-auto">
                <!-- Versiones -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarVersionesDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        VERSIONES
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarVersionesDropdown">
                        <a class="dropdown-item" routerLink="versiones">Radar Control Total</a>
                        <a class="dropdown-item" routerLink="versiones/radarLite">Radar Lite</a>
                    </div>
                </li>
                <!-- Herrramientas -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarHerramientasDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        HERRAMIENTAS
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarHerramientasDropdown">
                        <a class="dropdown-item" routerLink="herramientas">Radar Consulting</a>
                        <a class="dropdown-item" routerLink="herramientas/radarAcademy">Radar Academy</a>
                        <a class="dropdown-item" routerLink="herramientas/radarConnect">Radar Connect</a>
                    </div>
                </li>
                <!-- Testimonios -->
                <li class="nav-item"><a class="nav-link" routerLink="testimonios" routerLinkActive="active" href="#"
                        [routerLinkActiveOptions]="{exact : true}">TESTIMONIOS</a></li>
                <!-- Contactanos -->
                <li class="nav-item"><a class="nav-link" routerLink="contactanos" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact : true}">CONTACTANOS</a></li>
            </ul>
        </div>
    </div>
</nav>