#herramientas {
  background-color: #022644;
}
.section__title {
  color: #ffffff;
  font-size: 21px;
  letter-spacing: 1.2px;
  text-align: center;
  font-weight: 600;
  margin: 0;
}

.card__image {
  width: 80%;
  height: auto;
  object-fit: cover;
}

.card__title,
.card__text {
  color: #ffffff;
  text-align: center;
  margin: 0;
  margin-top: 0.5rem;
}
.card__title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.24px;
}

.card__text {
  font-size: 15px;
  margin-bottom: 1rem;
}

.card__button {
  width: 100%;
  padding: 3% 5%;
  background-color: #afd625;
  border: 1px solid #afd625;
  border-radius: 5px;
  color: #ffffff;
  font-size: 18px;
}

@media (min-width: 768px) {
  .section__title {
    font-size: 27px;
  }

  .card-container{
    height: 550px;
  }
  .card__image {
    width: 80%;
    height: 30vh;
    object-fit: contain;
  }
}

@media(min-width : 576px) and (max-width:850px){
  .card__button{
    font-size: 15px;
  }
}
@media (min-width: 600px) and (max-width: 767px) {
  .card__image {
    width: 70%;
    height: auto;
  }
}
