<section id="herramientas" class="py-4 px-5 px-lg-0">
    <div class="container-lg">
        <div class="row justify-content-center">
            <div class="col-10">
                <p class="section__title">NUESTRAS HERRAMIENTAS</p>
            </div>
        </div>
        <div class="row justify-content-center justify-content-md-around py-md-4">
            <!-- Sección 1 -->
            <div class="col-12 col-sm-10 col-md-4 col-xl-3 py-4 h-100">
                <div class="row h-100 align-content-around justify-content-center card-container">
                    <!-- Imagen -->
                    <img class="card__image" src="assets/Home-RadarConnect.png">
                    <p class="card__title">RADAR CONNECT</p>
                    <p class="card__text">Aplicación nativa Android para toma y edición de fotografías</p>
                    <a routerLink="herramientas/radarConnect" class="col-8 col-sm-6 col-md-8">
                        <button class="card__button">VER DETALLES</button>
                    </a>
                </div>
            </div>
            <!-- Sección 2 -->
            <div class="col-12 col-sm-10 col-md-4 col-xl-3 py-4 h-100 card-container">
                <div class="row h-100 align-content-around justify-content-center">
                    <!-- Imagen -->
                    <img class="card__image" src="assets/Home-RadarAcademy.png">
                    <p class="card__title">RADAR ACADEMY</p>
                    <p class="card__text col-md-7">Capacitación virtual de RADAR</p>
                    <a routerLink="herramientas/radarAcademy" class="col-8 col-sm-6 col-md-8">
                        <button class="card__button">VER DETALLES</button>
                    </a>
                </div>
            </div>
            <!-- Sección 3 -->
            <div class="col-12 col-sm-10 col-md-4 col-xl-3  py-4 h-100">
                <div class="row h-100 align-content-around justify-content-center card-container">
                    <!-- Imagen -->
                    <img class="card__image" src="assets/Home-RadarConsulting.png">
                    <p class="card__title">RADAR CONSULTING</p>
                    <p class="card__text px-md-5 px-lg-4">Consultorías sobre la operación de tu taller</p>
                    <a routerLink="herramientas" class="col-8 col-sm-6 col-md-8">
                        <button class="card__button">VER DETALLES</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>