<section>
    <div class="container-fluid" id="compromisos-container">
        <div class="row justify-content-center">
            <div class="col-xxl-10">
                <div class="row align-items-center justify-content-evenly">
                    <div class="col-xxl-5 col-lg-6">
                        <div id="compromisos-img">
                            <img loading="lazy" src="/assets/managers-visiting-storage-center-and-discussing-about-distribution-and-goals-for-next-year.png" class="img-fluid" alt="Radar Control Total Compromisos Metas">
                        </div>  
                    </div>
                    <div class="col-xxl-4 col-lg-4">
                         <h1 class="text-center text-lg-start">Se realizan compromisos y metas a cumplir que serán monitoreados por el</h1>
                         <h2 class="text-center text-lg-start">responsable del taller y el equipo de RADAR.</h2>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>