#compromisos-container{
    padding-top: 129px;
    padding-bottom: 129px;
}
#compromisos-container h1{
    text-align: left;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    font-size: 34px;
    line-height: 46px;
    letter-spacing: 0px;
    color: #022644;
}
#compromisos-container h2{
    text-align: left;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 46px;
    letter-spacing: 0px;
    color: #022644;
}

#compromisos-img{
    width: 100%;
    height: auto;
    background-color: transparent;
    background: linear-gradient(180deg, #AFD625 0%, #AFD62500 100%);
    background-size: 100%;
    background-position: -30px -18px;
    opacity: 1;
}
