#compromisos-container{
    padding: 8%;
}
#compromisos-container h1{
    text-align: left;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0px;
    color: #022644;
}
#compromisos-container h2{
    text-align: left;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0px;
    color: #022644;
}

#compromisos-img{
    width: 100%;
    height: auto;
    background-color: transparent;
    background: linear-gradient(180deg, #AFD625 0%, #AFD62500 100%) no-repeat;
    background-size: 100% 100%;
    background-position: right bottom;
    opacity: 1;
    margin-left: 12px;
    margin-top: 13px;
}
#compromisos-img img{
    position: relative;
    top: -13px;
    left: -12px;
}
@media screen and (min-width: 576px) {
    #compromisos-container h2{
        font-size: 22px;
        line-height: 29px;
    }
    #compromisos-container h1{
        font-size: 22px;
        line-height: 29px;
    }
}
@media screen and (min-width:992px) {
        
    #compromisos-img{
        margin-left: 14px;
        margin-top: 24px;
    }
    #compromisos-img img{
        top: -24px;
        left: -14px;
    }
}
@media screen and (min-width: 1200px) {
    
    #compromisos-container h2{
        font-size: 24px;
        line-height: 34px;
    }
    #compromisos-container h1{
        font-size: 24px;
        line-height: 34px;
    }
    
}
@media screen and (min-width: 1400px) {
    #compromisos-container h2{
        font-size: 27px;
        line-height: 37px;
    }
    #compromisos-container h1{
        font-size: 27px;
        line-height: 37px;
    }
    #compromisos-container{
        padding-top: 103px;
        padding-bottom: 103px;
    }
}
