<section>
    <div class="container-fluid main-container">
        <!-- Nuestro Compromiso -->
        <div class="row justify-content-center">
            <div class="col-9 col-lg-12" style="margin-bottom:2%">
                <p class="title">NUESTRO COMPROMISO</p>
            </div>
        </div>
        <!-- Tarjetas -->
        <div class="row justify-content-center">
            <div class="col-7 col-md-11 col-lg-9">
                <div class="row justify-content-around card-row">
                    <div class="col-md-3 d-flex flex-column justify-content-center align-items-center card-container px-2">
                        <img loading="lazy" src="assets/acalerador.gif" class="gif" alt="TIEMPO DE CICLO Radar Control Total">
                        <p class="card__title">10-15 DÍAS </p>
                        <p class="card__subtitle">TIEMPO DE CICLO</p>
                    </div>
                    <div class="col-md-3 d-flex flex-column justify-content-center align-items-center card-container px-2">
                        <img loading="lazy" src="assets/retorno_1.gif" class="gif" alt="RETORNO DE INVERSIÓN Radar Control Total">
                        <p class="card__title">RETORNO DE TU</p>
                        <p class="card__subtitle">INVERSIÓN</p>
                    </div>
                    <div class="col-md-3 d-flex flex-column justify-content-center align-items-center card-container px-2">
                        <img loading="lazy" src="assets/95_por.gif" class="gif" alt="USABILIDAD DE SISTEMA Radar Control Total">
                        <p class="card__title">95% DE USABILIDAD</p>
                        <p class="card__subtitle">DEL SISTEMA</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Texto final -->
        <div class="row">
            <div class="col-12">
                <p class="commitment-text__sub">EN LOS PRIMEROS 3
                    MESES DE CONSULTORÍA
                </p>
            </div>
            <div class="col-12">
                <p class="commitment-text__principal">
                    O TE DEVOLVEMOS TU
                    DINERO</p>
            </div>
        </div>

    </div>
</section>