<!-- Este div hay que eliminarlo cuando se utilicen las card en el carrusel, solo lo puse para que se vea centrado -->

  <div class="container-fluid slide-container">
    <div class="row w-100 h-100 justify-content-center card-row">
      <!-- Contenedor de la tarjeta -->
      <div class="col-12 cardContainer">
        <div class="row h-100 justify-content-center justify-content-lg-between">
          <!-- Sección con el texto -->
          <div class="col-12 col-md-6  mb-4 mb-md-0 py-5 py-md-0 py-md-3 py-xxl-4 px-4">
            <div class="row h-100 d-flex align-items-center ">
              <!-- Pregunta -->
              <div class="col-12 align-items-center">
                <p class="specialCaseText" *ngIf="specialCaseText">{{specialCaseText}}</p>
                <p [ngClass]="specialCaseText ? 'specialQuestionText' : 'normalQuestionText'">{{questionText}}</p>
              <!-- Texto Informativo -->
                <p class="informationText">{{informationText}}</p>
              </div>
              <!-- Boton -->
              <div class="col-12 mt-4 mt-md-2 mb-0 mb-md-3 d-flex justify-content-center justify-content-sm-start">
                <a routerLink="contactanos">
                  <button class="button">{{buttonText}}</button>
                </a>
              </div>
            </div>
          </div>
          <!-- Seccion con la imagen -->
          <div class="col-12 col-md-6 d-flex pe-md-0 justify-content-center">
            <img src="{{imageSrc}}.webp" class="card-image">
          </div>
        </div>
      </div>
    </div>
  </div>
