<section>
    <div class="container-fluid" id="radar-academy-capacitacion">
        <div class="row align-items-center justify-content-center" id="capacitacion-card-container">
            <div class="col-lg-8 align-self-center" id="capacitacion-card">
                <div class="row align-items-center">
                    <div class="col-lg">
                        <div class="row" id="capacitacion-card-text">
                            <div class="col-lg">
                                <h1 class="text-center text-lg-start">
                                    Plan de <span style="font-weight: bold;">recapacitación</span> de todo tu personal en cualquier momento,<br>
                                    <b style="font-weight: bold;">SIN COSTO</b>
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg">
                        <div id="capacitacion-imgs">
                            <img loading="lazy" src="/assets/Enmascarar grupo 65.png" class="img-fluid"
                                id="capacitacion-img" alt="Radar Control Total CAPACITACIÓN">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>