<section>
    <div class="container-fluid" id="radar-academy-capacitacion">
        <div class="row align-items-center justify-content-center" id="capacitacion-card-container">
            <div class="col-lg-8 align-self-center" id="capacitacion-card">
                <div class="row align-items-center">
                    <div class="col-lg">
                        <div class="row" id="capacitacion-card-text">
                            <div class="col-lg-2">
                            </div>
                            <div class="col-lg">
                                <h1>REALIZA LA CAPACITACIÓN DE TU</h1>
                                <h2>NUEVO PERSONAL FÁCIL Y RÁPIDO</h2>
                            </div>                            
                            <div class="col-lg-2">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg">   
                        <div id="capacitacion-imgs" >
                            <img src="/assets/Enmascarar grupo 65.png" class="img-fluid" id="capacitacion-img" alt="Radar Control Total CAPACITACIÓN">
                        </div>  
                    </div>
                </div>                
            </div>
        </div>
    </div>
</section>