._item, .example{
    height: 651px;
}
._red{
    background-color: red;
}
._blue{
    background-color: blue;
}
._green{
    background-color: green;
}
#sabias-que-carousel{
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 0;
    padding-right: 0;
}
.carousel-item{
    background: #FFFFFF 0% 0% no-repeat padding-box;
}
/* Carousel indicators */
.carousel-indicators{
    margin-bottom: 0;
}
.carousel-indicators button {
    border-top: none;
    border-bottom: none;
    margin-bottom: 0;
    width: 34px;
    height: 6px;
    background: #BEBEBE 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1; 
}
.carousel-indicators .active {
    background: #AFD625 0% 0% no-repeat padding-box;
}

/* Multi item carousel */
.show-neighbors {
    overflow: hidden;
}
.show-neighbors .item__third:first-child, .show-neighbors .item__third:last-child {
    display: none;
}

@media (min-width: 767px) {

    ._item, .example{
        height: 550px;
    }
    .show-neighbors .carousel-indicators {
        margin-right: 15%;
        margin-left: 15%;
   }
    .show-neighbors .carousel-control-prev, .show-neighbors .carousel-control-next {
        background: rgba(255, 255, 255, 0.3);
        width: 15%;
        z-index: 11;
       /* .carousel-caption has z-index 10 */
   }
    .show-neighbors .carousel-inner {
        width: 210%;
        left: -55%;
   }
    .show-neighbors .carousel-item-next:not(.carousel-item-start), .show-neighbors .carousel-item-end.active {
        -webkit-transform: translate3d(33%, 0, 0);
        transform: translate3d(33%, 0, 0);
   }
    .show-neighbors .carousel-item-prev:not(.carousel-item-end), .show-neighbors .carousel-item-start.active {
        -webkit-transform: translate3d(-33%, 0, 0);
        transform: translate3d(-33%, 0, 0);
   }
    .show-neighbors .item__third {
        display: block !important;
        float: left;
        position: relative;
       /* captions can now be added */
        width: 33.33333333%;
   }
}

