<section>
    <div class="container-fluid">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <app-sabias-que-card
                        [specialCaseText]="firstCard.specialCaseText"
                        [questionText]="firstCard.questionText"
                        [informationText]="firstCard.informationText"
                        [buttonText]="firstCard.buttonText"
                        [imageSrc]="firstCard.imageSrc"
                    ></app-sabias-que-card>
                </div><!-- 
                <div class="carousel-item">
                    
                </div>
                <div class="carousel-item">
                    
                </div> -->
            </div>
        </div>
    </div>
</section>