<div class="cardContainer">
  <div class="imageContainer">
    <img class="personImage" src="{{ imageSrc }}" />
  </div>
  <div class="textContainer">
    <!-- Nombre del negocio -->
    <div style="width: 70%; margin-bottom: 10px; height: 40%;">
      <p class="businessName">{{ businessName }}</p>
      <p class="location">{{ location }}</p>
    </div>
    <!-- Mensaje -->
    <p class="message">{{ message }}</p>
    <!-- Información de la persona -->
    <div class="personInformation">
      <p class="personName">{{ personName }}</p>
      <p class="personPosition">{{ "- " + personPosition }}</p>
    </div>
  </div>
</div>
