<div id="gradient-bg"
    style="background: transparent url('{{heroInformation.backgroundImage}}') center top no-repeat; background-size: cover;">
    <div class="container-flluid" id="hero">
        <div id="content-hero">
            <div id="titles">
                <h1>{{heroInformation.title1}}</h1>
                <h2>{{heroInformation.title2}}</h2>
            </div>
            <div id="hero-text-container">
                <p class="hero-text">{{heroInformation.text}}</p>
            </div>
        </div>
    </div>
</div>