#versionInformation {
  padding: 6% 0;
}

li {
  color: #afd625;
  font-weight: bold;
  font-size: 15px;
}

li span {
  color: #585858;
}

@media (max-width: 768px) {
  #versionInformation {
    padding: 9% 4%;
  }
}
