<section style="padding-top: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
                <img src="{{imageSrc}}" class="img-fluid" style="max-width:80%">
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-10 p-3 d-flex justify-content-xs-center justify-content-lg-start">
                        <p class="text-xs-center text-lg-start" style="font-size:20px;" style="text-align: center;">
                            {{informationText}}</p>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-xs-8 col-lg-3 d-flex justify-content-center">
                                <img class="img-fluid" src="assets/Grupo582.png">
                            </div>
                            <div class="col-xs-10 col-lg-9 d-flex justify-content-center justify-content-lg-start p-3">
                                <ul>
                                    <li *ngFor="let point of informationPoints"><span>{{point}}</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="container containerInformacion">


        <div class="img-container">
            <img src="{{imageSrc}}" style="max-width:100%">
        </div>
        <div class="information-container">
            <p>
                {{informationText}}
            </p>
            <div class="information-points">
                <div class="information-img">
                    <img src="assets/Grupo582.png" style="max-width:70%; height: auto;">
                </div>
                <div class="information-text">
                    <ul>
                        <li *ngFor="let point of informationPoints"><span>{{point}}</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> -->
</section>