<section>
    <p class="section-title">
        TESTIMONIOS
    </p>
    <div class="container-fluid" id="testimonios-carousel">
        <div class="example">
            <div id="testimonios-slider-carousel" class="carousel slide h-100" data-ride="carousel"
                data-bs-interval="false">
                <!-- Carousel indicators -->
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#testimonios-slider-carousel"
                        *ngFor="let number of [].constructor(NumberOfBlocks); let i = index"
                        [ngClass]="{'active' : i == 0}" attr.data-bs-slide-to="{{i}}" attr.aria-label="Slide {{i}}"
                        attr.aria-current="{{i == 0 ? 'true' : 'false'}}"></button>
                </div>
                <!-- Carousel -->
                <div class="carousel-inner">
                    <div class="carousel-item container-fluid"
                        *ngFor="let number of [].constructor(NumberOfBlocks); let j = index;"
                        [ngClass]="{'active': j == 0}">
                        <div class="row card-row _item justify-content-center">
                            <app-testimonio-card class="col-11 col-sm-10 col-md-5 col-xl-4 col-xxl-3"
                                *ngFor="let number of [].constructor(CardsPerBlock); let z = index;"
                                [cardInformation]="testimonios[(j * CardsPerBlock) + z]">
                            </app-testimonio-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center button-container">
            <button class="button" type="button" routerLink="/testimonios">
                VER TODOS
            </button>
        </div>
    </div>
</section>