._item,
.example {
    min-height: 700px;
    height: auto;
}

#testimonios-carousel {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 0;
    padding-right: 0;
}

.carousel-item {
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

/* Carousel indicators */
.carousel-indicators {
    margin-top: 15px;
    margin-bottom: 0;
}

.carousel-indicators button {
    border-top: none;
    border-bottom: none;
    margin-bottom: 0;
    width: 34px;
    height: 6px;
    background: #BEBEBE 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1;
}

.carousel-indicators .active {
    background: #AFD625 0% 0% no-repeat padding-box;
}

@media(min-width: 768px) {

    ._item,
    .example {
        height: 800px;
    }
}

@media(min-width: 992px) {

    ._item,
    .example {
        height: 750px;
    }
}

@media (min-width: 1200px) {

    ._item,
    .example {
        height: 755px;
    }
}

@media(min-width: 1400px) {

    ._item,
    .example {
        min-height: 780px;
    }
}

@media(min-width: 1600px) {

    ._item,
    .example {
        height: 710px;
    }
}

.card-row {
    padding-top: 20px;
    padding-bottom: 60px;
}