.section-title {
    color: #6C6C6C;
    text-align: center;
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 200;
    margin-top: 25px;
}

._item,
.example {
    min-height: 700px;
}

#testimonios-carousel {
    padding-top: 0px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
}

.carousel-item {
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

/* Carousel indicators */
.carousel-indicators {
    margin-top: 15px;
    margin-bottom: 0;
}

.carousel-indicators button {
    border-top: none;
    border-bottom: none;
    margin-bottom: 0;
    width: 34px;
    height: 6px;
    background: #BEBEBE 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1;
}

.carousel-indicators .active {
    background: #3F51B5 0% 0% no-repeat padding-box;
}

.card-row {
    padding-top: 20px;
    padding-bottom: 60px;
}

.button-container {
    margin: 25px 0px 20px 0px;
}

.button-container .button {
    border: 1px solid #3F51B5;
    background: #3F51B5 0% 0% no-repeat padding-box;
    border-radius: 6px;
    min-width: 250px;
    width: auto;
    padding: 10px 0;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: .66px;
    font-size: 19px;
}

@media(min-width: 768px) {

    ._item,
    .example {
        height: 800px;
    }
}

@media(min-width: 992px) {

    ._item,
    .example {
        height: 750px;
    }
}

@media (min-width: 1200px) {

    ._item,
    .example {
        height: 755px;
    }
}

@media(min-width: 1400px) {

    ._item,
    .example {
        height: 820px;
    }
}

@media(min-width: 1600px) {

    ._item,
    .example {
        height: 750px;
    }
}