<div id="gradient-bg"
    style="background: transparent url('{{backgroundImage}}') center top no-repeat; background-size: cover;">
    <div class="container-flluid" id="hero">
        <div id="content-hero">
            <div id="titles">
                <div class="container">
                    <div class="row justify-content-md-start mb-3">
                        <div class="col-10 col-sm-8 col-md-6 col-lg-4 col-xxl-3">
                            <img src="{{heroIcon}}" class="img-fluid">
                        </div>
                    </div>
                </div>
                <h1>{{title1}}</h1>
                <h2>{{title2}}</h2>
            </div>
            <div id="btns">
                <button id="fst-btn" routerLink="{{btn1Route}}">
                    <span class="hero-btn">{{btn1Text}}</span>
                </button>
                <button id="snd-btn" class="d-none d-xl-inline" (click)="onClick('price-section')">
                    <span class="hero-btn">{{btn2Text}}</span>
                </button>
            </div>
        </div>
    </div>
</div>