<div class="post-card">
    <!-- Imagen -->
    <div class="img-container">

    </div>

    <div class="card-content">
        <!-- Categoria y Fecha -->
        <div class="metadata">
            <div class="category-badge blog">
                Noticia
            </div>
            <span class="date">
                12/NOV/2023
            </span>
        </div>
        <!-- Titulo -->
        <p class="title">
            Presentan hoja de ruta para transición de industria automotriz eléctrica
        </p>

        <!-- Descripción corta -->
        <p class="description">
            El canciller destaca que es una estrategia que beneficiará al sector automotriz y
            dependerá de nuestra economía para las próximas décadas.
        </p>
    </div>

    <!-- Boton para leer articulo -->
    <div>
        <a class="button">
            <span class="text">
                LEER ARTÍCULO
            </span>
            <span class="material-icons-outlined">
                east
            </span>
        </a>
    </div>
</div>