.post-card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 18px #00000029;
    border-radius: 15px;
    min-height: 300px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
    cursor: pointer;
}

.img-container {
    min-height: 50px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: -30px -30px 25px -30px;
}

.img-container>img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 250px;
}

.card-content {
    flex-grow: 1;
}

.metadata {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.category-badge {
    text-transform: uppercase;
    font-size: 11px;
    border-radius: 15px;
    padding: 2px 6px;
    width: fit-content;
    margin-right: 5px;
}

.category-badge.blog {
    background-color: #E4FF84;
    color: #4D5729;
}

.category-badge.news {
    background-color: #8D9EFF;
    color: #FFFFFF;
}

span.date {
    color: #7E7E7E;
    font-size: 11px;
    text-transform: uppercase;
}

.title {
    color: #022644;
    font-size: 19px;
    font-weight: 700;
    text-align: left;
}

.description {
    color: #7E7E7E;
    font-size: 12px;
}

.button {
    color: #3F51B5;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: fit-content;
}

.button>span.text {
    text-decoration: underline;
    font-weight: bold;
    margin-right: 7px;
}