<section>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-lg-3" id="equipo-titles">
                        <h1 class="text-center text-lg-start">
                            Un equipo de expertos en RADAR te
                            <br>
                            <b>acompañara en el proceso de certificación</b>
                        </h1>
                    </div>
                    <div class="col-lg-6" id="img-col">
                        <img loading="lazy" src="/assets/jovens.png" class="img-fluid" id="equipo-img" alt="Radar Control Total Equipo certificación">
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
