<div class="card-main-container">
    <div class="card-container px-5 pb-5">
        <!-- Imagen de la persona del testimonio -->
        <div class="w-100 position-relative card__person-image-container">
            <img loading="lazy" class="card__person-image" src="{{cardInformation.image}}"
                alt="Radar Control Total {{cardInformation.name}}">
        </div>

        <div class="d-flex flex-column align-items-center flex-grow-1">
            <!-- Información de la persona del testimonio -->
            <div class="text-center">
                <p class="person-name">{{cardInformation.name}}</p>
                <p class="person-position">{{cardInformation.position}}</p>
                <p class="card__location">{{cardInformation.location}}</p>
            </div>
            <!-- Contenido del testimonio (Negocio, Ubicación y Texto) -->
            <div class="text-center flex-grow-1">
                <p class="card__text">{{cardInformation.text}}</p>
            </div>

            <img class="card-icon" loading="lazy" src="assets/Icono-Testimonio.svg" alt="Radar Control Total Icono Testimonio">
        </div>
    </div>
</div>