<section>
    <div class="container-fluid" id="nuestro-compromiso-container">
        <div class="row" id="compromiso-title">
            <h1>NUESTRO COMPROMISO</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-11 col-sm-9 col-md-7 col-lg-11 col-xl-9 col-xxl-8">
                <div class="row justify-content-around card-row">
                    <div class="col-lg-3 d-flex flex-column align-items-center flex-column card-container">
                        <img src="assets/acalerador.gif" class="gif" alt="Radar Control Total Tiempo Ciclo">
                        <p class="card__title">10-15 DÍAS </p>
                        <p class="card__subtitle">TIEMPO DE CICLO</p>
                        <p class="card__text pt-4">Priorizamos el objetivo de mejorar el tiempo de cíclo de tu taller, te damos las herramientas para medir cada proceso administrativo y de la operación para encontrar los cuellos de botella, logrando una mayor rotación mensual de tu inventario.</p>
                    </div>
                    <div class="col-lg-3 d-flex flex-column align-items-center flex-column card-container">
                        <img src="assets/retorno_1.gif" class="gif" alt="Radar Control Total Retorno">
                        <p class="card__title">RETORNO DE TU</p>
                        <p class="card__subtitle">INVERSIÓN</p>
                        <p class="card__text pt-4">Te garantizamos que a los 3 meses tendrás un retorno de tu inversión bajo la premisa de que tu taller agilizará su producción, controlará sus gastos, reducirá omisiones, entre muchos otros beneficios.</p>
                    </div>
                    <div class="col-lg-3 d-flex flex-column align-items-center flex-column card-container">
                        <img src="assets/95_por.gif" class="gif" alt="Radar Control Total usabilidad">
                        <p class="card__title">95% DE USABILIDAD</p>
                        <p class="card__subtitle">DEL SISTEMA</p>
                        <p class="card__text pt-4">Al finalizar los cursos de capacitación y la consultoría, tu gente estará certificada y puesta a prueba en la usabilidad de RADAR, para que tengas la tranquilidad que le están sacando el mayor provecho a todo lo que el sistema ofrece.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>