#gradient-bg{
    background-color: transparent;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

#hero {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 180px;
    padding-bottom: 180px;    
}

#content-hero {
    width: 100%;
    height: 100%;
}

#titles h1 {
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 2.5px;
    margin-bottom: 25px;
}

#titles h2 {    
    text-align: left;
    font-size: 20px;
    letter-spacing: 1.68px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 300;
}

@media screen and (min-width: 576px) {
    #hero {
        padding-left: 12vw;
        padding-right: 12vw;
        padding-top: 150px;
        padding-bottom: 150px;
    }
}

@media screen and (min-width: 768px) {
    #hero {
        padding-left: 10vw;
        padding-right: 10vw;
        padding-top: 200px;
        padding-bottom: 200px;
    }

    #titles h2{
        max-width: 700px;
    }
}