<div id="gradient-bg"
    style="background-image: url('assets/hero-blog.png'); ">
    <div class="container-flluid" id="hero">
        <div id="content-hero">
            <div id="titles">
                <h1>BLOG Y NOTICIAS</h1>
                <h2>Aquí podrás encontrar información actualizada sobre los últimos acontecimientos a nivel local e internacional, 
                    así como también artículos interesantes y relevantes sobre temas de interés general.</h2>
            </div>
        </div>
    </div>
</div>