<section id="main-page">
    <!-- Hero -->
    <app-hero></app-hero>
    <!-- Presentación de Radar  -->
    <app-presentacion></app-presentacion>
    <!-- Beneficios de Radar -->
    <app-funcionalidades></app-funcionalidades>
    <!-- Carrusel de card  -->
    <!-- <app-sabias-que-carousel></app-sabias-que-carousel> -->
    <!-- Beneficios en 4 pasos -->
    <app-beneficios></app-beneficios>
    <!-- Herramientas de Radar -->
    <app-herramientas></app-herramientas>
    <!-- Marcas que confian en Radar -->
    <app-marcas></app-marcas>
    <!-- Ver Versiones -->
    <app-versiones>Trabajo en proceso</app-versiones>
    <!-- Carrusel de Testimonios -->
    <div>Trabajo en proceso</div>
    <!-- Card de Sabias que (Solo se utiliza para pruebas por el momento) -->
    <ng-container *ngFor="let element of sabiasQueList">
        <app-sabias-que-card [specialCaseText]="element.specialCaseText" [questionText]="element.questionText"
            [informationText]="element.informationText" [buttonText]="element.buttonText" [imageSrc]="element.imageSrc"></app-sabias-que-card>
    </ng-container>
</section>