<div class="pageContainer" style="display: flex; align-items: center; justify-content: center;">    
    <section>
        <div class="container-fluid" id="formulario-container">
            <div id="formulario-bg"></div>
            <div class="container-fluid" id="formulario-form">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <h1>¿CÓMO PODEMOS AYUDARTE?</h1>
                    </div>
                </div>
                <div class="row justify-content-center" id="form-card">
                    <div class="col-lg-7 col-xxl-6">
                        <div class="card text-start">
                            <div class="card-body">
                            <form action="">
                                    <p>Envíanos un mensaje y nosotros nos pondremos en contacto contigo</p>
                                    <div class="row">
                                        <div class="col-xl">
                                            <input type="text" class="input-contactanos nombre" placeholder="Nombre">
                                        </div>
                                        <div class="col-xl">                                     
                                            <input type="text" class="input-contactanos apellido" placeholder="Apellido">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl">
                                            <label for=""></label>
                                            <input type="text" class="input-contactanos email" placeholder="Email">
                                        </div>
                                        <div class="col-xl">  
                                            <label for=""></label>                                      
                                            <input type="tel" class="input-contactanos telefono" placeholder="Teléfono">
                                        </div>                                
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label for=""></label>
                                            <textarea type="text" class="input-contactanos mensaje" placeholder="Mensaje"></textarea>
                                        </div>                                    
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-xxl-3 col-xl-4 col-lg-5 col-md-6 col-sm-7">
                                            <button id="contactanos-button"><span>ENVIAR</span></button>
                                        </div>
                                    </div>
                            </form>
                            </div>
                        </div>
                    </div>                
                </div>
            </div>
        </div>
    </section>
</div>