<section id="post-page-container">
    <div class="container-fluid" id="post-container" *ngIf="!Loading">
        <div class="row justify-content-center">
            <div class="col-11 col-md-9 col-lg-8 col-xl-7 col-xxl-5">

                <div class="meta-data-container">
                    <div class="category-badge" [ngClass]="PostInfo.IsBlogPost ? 'blog' : 'news'">
                        <span *ngIf="PostInfo.IsBlogPost ; else elseBlock">Blog</span>
                        <ng-template #elseBlock>Noticia</ng-template>
                    </div>
                    <span class="date">
                        {{PostInfo.Date.toLocaleDateString('en-GB')}}
                    </span>
                </div>
                <p class="post-title">
                    {{PostInfo.Title}}
                </p>
                <div id="post-html-content" [innerHTML]="PostInfo.Content"></div>

                <div class="share-post-container">
                    <p class="share-text">Compartir en:</p>
                    <div class="share-icons-container">
                        <img src="/assets/share-ln.svg" alt="Linkedin" class="share-icon">
                        <img src="/assets/share-fb.svg" alt="Facebook" class="share-icon">
                        <img src="/assets/share-tw.svg" alt="Twitter" class="share-icon">
                        <img src="/assets/share-wp.svg" alt="Whatsapp" class="share-icon">
                    </div>
                </div>

                <hr class="post-end">
            </div>
        </div>
    </div>
</section>