#banner-resultados{
    padding-top: 135px;
    padding-bottom: 135px;
    padding-left: 61px;
    padding-right: 61px;
}
#banner-resultados h1{
    text-align: center;
    font-size: 22px;
    line-height: 30px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    letter-spacing: 1.36px;
    color: #FFFFFF;
    padding: 0%;
    margin: 0%;
}
#banner-resultados h2{
    text-align: center;
    font-size: 22px;
    line-height: 30px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 2.28px;
    color: #AFD625;
    padding: 0%;
    margin: 0%;
}
@media screen and (min-width: 992px) {
    #banner-resultados h1{
        font-size: 27px;
        line-height: 37px;
        font-style: normal;
        font-variant: normal;
        font-weight: 300;
    }
    #banner-resultados h2{
        font-size: 45px;
        line-height: 61px;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
    }
    #banner-resultados{
        padding-top: 180px;
        padding-bottom: 180px;
    }
}
