#banner-resultados{
    padding-top: 135px;
    padding-bottom: 135px;
    padding-left: 61px;
    padding-right: 61px;
}
#banner-resultados h1{
    text-align: center;
    font: normal normal 300 28px/37px Segoe UI;
    letter-spacing: 1.36px;
    color: #FFFFFF;
    padding: 0%;
    margin: 0%;
}
#banner-resultados h2{
    text-align: center;
    font: normal normal bold 28px/37px Segoe UI;
    letter-spacing: 2.28px;
    color: #AFD625;
    padding: 0%;
    margin: 0%;
}
@media screen and (min-width: 992px) {
    #banner-resultados h1{
        font: normal normal 300 34px/46px Segoe UI;
    }
    #banner-resultados h2{
        font: normal normal bold 57px/76px Segoe UI;    
    }   
    #banner-resultados{
        padding-top: 200px;
        padding-bottom: 200px;
    }
}