<div class="pageContainer" style="display: flex; align-items: center; justify-content: center;">
    <section>
        <div class="container-fluid" id="formulario-container">
            <div id="formulario-bg"></div>
            <div class="container-fluid" id="formulario-form">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <h1>¿CÓMO PODEMOS AYUDARTE?</h1>
                    </div>
                </div>
                <div class="row justify-content-center" id="form-card">
                    <div class="col-lg-7 col-xxl-6">
                        <div class="card text-start">
                            <div class="card-body">
                                <form name="contactanos-form" [formGroup]="exform">
                                    <p>Envíanos un mensaje y nosotros nos pondremos en contacto contigo</p>
                                    <div class="row">
                                        <div class="col-xl input">
                                            <input type="text" class="input-contactanos nombre" placeholder="Nombre"
                                                formControlName="contact_name" required>
                                            <small
                                                *ngIf="exform.get('contact_name').invalid && exform.get('contact_name').touched"
                                                class="text-danger">Campo requerido (máximo 50 caracteres)</small>
                                        </div>
                                        <div class="col-xl input">
                                            <input type="text" class="input-contactanos apellido" placeholder="Apellido"
                                                formControlName="contact_lastname">
                                            <small
                                                *ngIf="exform.get('contact_lastname').invalid && exform.get('contact_lastname').touched"
                                                class="text-danger">Campo requerido (máximo 60 caracteres)</small>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl input">
                                            <label for=""></label>
                                            <input type="text" class="input-contactanos email" placeholder="Email"
                                                formControlName="contact_email">
                                            <small
                                                *ngIf="exform.get('contact_email').invalid && exform.get('contact_email').touched"
                                                class="text-danger">Dirección correcta requerida (máximo 50
                                                caracteres)</small>
                                        </div>
                                        <div class="col-xl input">
                                            <label for=""></label>
                                            <input type="number" class="input-contactanos telefono"
                                                placeholder="Teléfono" formControlName="contact_phone">
                                            <small
                                                *ngIf="exform.get('contact_phone').invalid && exform.get('contact_phone').touched"
                                                class="text-danger text-area">Número requerido (máximo 15
                                                caracteres)</small>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col input">
                                            <label for=""></label>
                                            <textarea type="text" class="input-contactanos mensaje"
                                                placeholder="Mensaje" formControlName="contact_message"></textarea>
                                            <small id="small-ta"
                                                *ngIf="exform.get('contact_message').invalid && exform.get('contact_message').touched"
                                                class="text-danger">Campo requerido (máximo 254 caracteres)</small>
                                        </div>
                                    </div>

                                    <!-- <div class="row my-4">
                                        <div class="col d-flex justify-content-center">
                                            <re-captcha (resolved)="resolved($event)" formControlName="captcha"
                                                [siteKey]="captchaKey"></re-captcha>
                                        </div>
                                    </div> -->
                                    <div class="row justify-content-center">
                                        <div class="col-xxl-3 col-xl-4 col-lg-5 col-md-6 col-sm-7">
                                            <button (click)="sendInfo()" class="ga-call-to-action"
                                                [ngClass]="{'disabledButton' : exform.invalid, 'enabledButton' : !exform.invalid}"
                                                [disabled]="exform.invalid" id="contactanos-button"
                                                data-ga-element="Enviar">
                                                <span>ENVIAR</span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>