<div class="cardContainer">
  <div class="textDiv">
    <!-- Este div se muestra en caso de que la pregunta se muestre en formato "SABIAS QUE?.. " y más texto -->
    <div *ngIf="specialCaseText">
      <p class="specialCaseText">{{ specialCaseText }}</p>
      <p class="specialQuestionText">{{ questionText }}</p>
    </div>

    <!-- Este div se muestra en caso de que la pregunta se muestre completa con el mismo formato (tamaño, color) -->
    <p *ngIf="!specialCaseText" class="normalQuestionText">{{ questionText }}</p>
    <!-- Texto con la información de la card -->
    <p class="informationText">{{ informationText }}</p>
    <button class="button">{{ buttonText }}</button>
  </div>
  <div class="imgDiv">
    <img
      style="max-width: 100%; height: 100%; object-fit: cover"
      src="{{ imageSrc }}"
    />
  </div>
</div>
