<section>
    <div class="container-fluid" id="radar-academy-capacitacion">
        <div class="row align-items-center justify-content-center" id="capacitacion-card-container">
            <div class="col-md-10 col-lg-8 align-self-center" id="capacitacion-card">
                <div class="row align-items-center">
                    <div class="col-lg">
                        <div class="row" id="capacitacion-card-text">
                            <div class="col-lg">
                                <h1>
                                    RADAR CONNECT
                                    <br>
                                    <b style="font-weight: bold;">PARA TÉCNICOS</b>
                                </h1>
                                <p class="informative-text">
                                    Tus técnicos pueden dar avance a sus trabajos, subir fotografías,
                                    consultar su carga de producción, consultar nómina, de la manera más fácil y sin
                                    papel.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg">
                        <div id="capacitacion-imgs">
                            <img loading="lazy" src="/assets/mujer_1.png" class="img" id="capacitacion-img"
                                alt="Radar Control Total CAPACITACIÓN">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>