<section>
    <div class="container-fluid" id="radar-academy-capacitacion">
        <div class="row align-items-center " id="capacitacion-card-container">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-10 align-self-center" id="capacitacion-card">
                <div class="row align-items-center">
                    <div class="col-lg">
                        <div class="row" id="capacitacion-card-text">
                            <div class="col-lg-1">
                            </div>
                            <div class="col-lg">
                                <h1>SEGUIMIENTO SEMANAL</h1>
                                <h2>Semanalmente se realizan videoconferencias, para revisar no sólo la usabilidad de RADAR, sino los resultados obtenidos durante la semana.</h2>
                            </div>     
                        </div>
                    </div>
                    <div class="col-lg">   
                        <div id="seguimiento-imgs">
                            <img src="/assets/Enmascarar grupo 66.png" class="img-fluid" id="capacitacion-img" alt="">
                        </div>   
                    </div>
                </div>                
            </div>
        </div>
    </div>
</section>