.card-separator {
  height: 2px;
  color: #8d8d8d;
}

.cards-container {
  padding: 2% 0 5;
}


.first-card__text {
  color: #464646;
  font-size: 30px;
  font-weight: 400;
  margin: 0;
}

.first-card__second-text {
  color: #464646;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.main-card__quotes {
  max-width: 91px;
  height: auto;
}
.rows-cards .col-card{
}