#radar-academy-visitar{
    padding: 0px;
}
#radar-academy-visitar .row{
    margin: 0%;
    padding-top: 40px;
    padding-bottom: 40px;
}
.resolver-dudas{
    width: 80%;
    text-align: left;
    font: normal normal normal 28px/40px Segoe UI;
    letter-spacing: 1.4px;
    color: #FFFFFF;
    opacity: 1;
}
#visitar-academy button{
    display: block;
    height: 48px;
    width: 100%;
    margin:auto;
    margin-top: 1rem;
    background: #AFD625 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    border: none;
    
    margin-top: 16px;
    margin-bottom:  16px;
}
#visitar-img{
    padding: 0%;
    padding-bottom: 16px;
    padding-top: 16px;
    margin-bottom: 24px;
}
#visitar-academy {
    padding-left: 22px;
    padding-right: 22px;
    margin-bottom: 24px;
}
#visitar-academy button span{
    text-align: center;
    font: normal normal 600 20px/28px Segoe UI;
    letter-spacing: 0.66px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
#visitar-academy-img{
    margin: auto;
    margin-top: 16px;
    margin-bottom:  16px;
    display: block;
}
#movil.resolver-dudas{
    width: 100%;
    font: normal normal normal 18px/30px Segoe UI;
    margin: auto;
    margin-top: 16px;
    margin-bottom:  16px;
    display: block;
    text-align: center;
    padding-left: 22px;
    padding-right: 22px;
}
@media screen and (min-width: 576px) {
    .resolver-dudas{
        width: 100%;
    }
    #visitar-academy button{
        
        height: 58px;
        width: 100%;
        display: inline;
    }
    #radar-academy-visitar{
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
@media screen and (min-width: 992px){
    #visitar-academy button{
        width: 90%;
        display: inline;
    }
    #visitar-academy button span{
        font: normal normal 600 22px/30px Segoe UI;
    }
}
@media screen and (min-width: 1200px) {
    #visitar-academy button{
        width: 70%;
        display: inline;
    }
}

@media screen and (min-width: 1400px) {
    #visitar-academy button{
        width: 60%;
        display: inline;
    }
}