
<app-hero-title></app-hero-title>

<!-- <div id="intro"  class="bg-image">
    <div id="title">
        <h1>CAPACITA A TUS COLABORADORES</h1>
        <h2>EN CUESTIÓN DE HORAS</h2>
    </div>
    <button id="solicitar-demo">
        <span class="hero">SOLICITAR UN DEMO</span>            
    </button>
    <button id="conoce-radar-total">
        <span class="hero">CONOCE LA VERSION RADAR CONTROL TOTAL</span>            
    </button>
</div> -->
<div class="container my-5">
    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis quam minima perspiciatis eos tenetur. Praesentium dolores at quos aperiam sed, sint provident consectetur incidunt, nostrum porro earum commodi, ex architecto.</p>
  </div>