
<app-hero-title
    [title1]="heroTitle1"
    [title2]="heroTitle2"
    [btn1Text]="btn1Text"
    [btn2]="btn2"
    [btn2Text]="btn2Text"
    [backgroundImage]="bgImg"
></app-hero-title>

<app-informacion-herramienta
    [infoText]='infoText'
    [infoTitle]="infoTitle"
    [infoVideo]="infoVideo"
    [btnText]="btnText"
></app-informacion-herramienta>

<app-visitar-academy></app-visitar-academy>

<app-capacitacion-academy></app-capacitacion-academy>

<app-certificacion-academy></app-certificacion-academy>

<app-equipo-academy></app-equipo-academy>