<div id="intro"  class="bg-image">
    <div id="title">
        <h1>CAPACITA A TUS COLABORADORES</h1>
        <h2>EN CUESTIÓN DE HORAS</h2>
        <div id="solicitar-demo">
            <span>Solicitar una demostración</span>            
        </div>
    </div>
</div>
<div class="container my-5">
    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis quam minima perspiciatis eos tenetur. Praesentium dolores at quos aperiam sed, sint provident consectetur incidunt, nostrum porro earum commodi, ex architecto.</p>
  </div>