#funciones-app-container {
    padding-top: 111px;
    padding-bottom: 111px;
    background: transparent url('/assets/fondo_herramientas.png') 0% 0% no-repeat padding-box;
    background-size: cover;
    opacity: 1;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
}

.function-card {
    border: 1px solid #3F51B5;
    border-radius: 25px;
    padding: 20px;
    display: flex;
    align-items: end;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.capture {
    background-image: linear-gradient(180deg, #02264400 0%, #022644 100%), url('/assets/captura.png');
}

.edit {
    background-image: linear-gradient(180deg, #02264400 0%, #022644 100%), url('/assets/edita.png');
}

.share {
    background-image: linear-gradient(180deg, #02264400 0%, #022644 100%), url('/assets/comparte.png');
}

.scan {
    background-image: linear-gradient(180deg, #02264400 0%, #022644 100%), url('/assets/escanea.png');
}

.function-card__text-container {
    position: relative;
    min-height: 40%;
    border: 1px solid #3F51B5;
    border-radius: 8px;
    padding: 20px;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

.function-card__text-container__title {
    color: #AFD625;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 8px;
    font-size: 18px;
}

.function-card__text-container__text {
    color: #FFFFFF;
    font-size: 13px;
    letter-spacing: 0.6px;
    margin-bottom: 0;
}

@media(max-width: 767px) {
    .function-card {
        height: 420px;
    }
}

@media(min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .function-card {
        height: 450px;
    }
}

@media(min-width: 992px) {
    .function-card__text-container__title {
        font-size: 20px;
    }

    .function-card__text-container__text {
        font-size: 14px;
    }
}

@media(min-width: 1200px) {
    .function-card__text-container__title {
        font-size: 22px;
    }

    .function-card__text-container__text {
        font-size: 15px;
    }
}