<section>
    <div class="container-fluid" id="funciones-app-container">
        <div class="row d-flex justify-content-center right" >
            <div class="col-lg-9" style="background: transparent url('/assets/captura.png') 0% 0% no-repeat padding-box; background-size: cover;">
                <h1>CAPTURA</h1>
                <h2>Captura tus fotografías en cualquier momento, almacenalas en la nube, organizadas en cada orden de servicio. ¡Funciona aun cuando no tengas una conexión activa a internet!</h2>
            </div>
        </div>
        <div class="row">
            
        </div>
        <div class="row d-flex justify-content-center right">
            
        </div>
    </div>
</section>