<section>
    <div class="container-fluid" id="funciones-app-container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-lg-9 col-xxl-6">
                <div class="grid-container">
                    <div class="function-card capture">
                        <div class="function-card__text-container">
                            <!-- <div class="blur"></div> -->
                            <div style="z-index: 1;">
                                <p class="function-card__text-container__title">CAPTURA</p>
                                <p class="function-card__text-container__text">
                                    Captura tus fotografías en cualquier momento, almacenalas en la nube, organizadas en
                                    cada orden de servicio.
                                    <br>
                                    <b>¡Funciona aun cuando no tengas una conexión activa a internet!</b>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="function-card edit">
                        <div class="function-card__text-container">
                            <p class="function-card__text-container__title">EDITA</p>
                            <p class="function-card__text-container__text">
                                Edita las fotografías para tu expediente de valuación. Agrega formas, resalta daños,
                                esfecifica partes, agregar texto.
                                <br>
                                Y así evita complementos, omisiones, rechazos, y aumenta tu ticket promedio.
                            </p>
                        </div>
                    </div>
                    <div class="function-card share">
                        <div class="function-card__text-container">
                            <p class="function-card__text-container__title">COMPARTE</p>
                            <p class="function-card__text-container__text">
                                Descarga estas imagenes en cualquier dispositivo. Compartelas con tu cliente desde su
                                portal para que las pueda visualizar.
                            </p>
                        </div>
                    </div>
                    <div class="function-card scan">
                        <div class="function-card__text-container">
                            <p class="function-card__text-container__title">ESCANEA</p>
                            <p class="function-card__text-container__text">
                                Escanea cualquier documento con tu celular, organízalo y consulta el PDF en segundos en
                                tu orden de servicio.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>