<section>
    <div class="container-fluid" id="funciones-app-container">
        <div class="row d-flex justify-content-center right" >
            <div class="col-xl-9 col-lg-10 col-md-11 funcion-card" >
                <div class="bg captura"> 
                    <div class="row w-100 align-items-center">
                        <div class="col-md-5 offset-md-1 funciones-card-text">                            
                            <h1>CAPTURA</h1>                            
                            <p>Captura tus fotografías en cualquier momento, almacenalas en la nube, organizadas en cada orden de servicio.</p><p>¡Funciona aun cuando no tengas una conexión activa a internet!</p>
                        </div>
                        <div style="background: transparent url('/assets/captura.png') top right no-repeat padding-box; background-size: cover;" class="col-md d-md-none bg">
                            
                        </div>
                    </div>                   
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center left">
            <div class="col-xl-9 col-lg-10 col-md-11 funcion-card">
                <div class="bg edita"> 
                    <div class="row w-100 align-items-center">
                        <div class="col-md-5 offset-md-7 funciones-card-text">                            
                            <h1>EDITA</h1>                            
                            <p>Edita las fotografías para tu expediente de valuación. Agrega formas, resalta daños, esfecifica partes, agregar texto. Y así evita complementos, omisiones, rechazos, y aunmenta tu ticket promedio.</p>
                        </div>
                        <div style="background: transparent url('/assets/edita_3.png') top left no-repeat padding-box; background-size: cover;" class="col-md d-md-none bg">
                            
                        </div>
                    </div>                   
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center right">
            <div class="col-xl-9 col-lg-10 col-md-11 funcion-card" >
                <div class="bg comparte"> 
                    <div class="row w-100 align-items-center">
                        <div class="col-md-4 offset-md-1 funciones-card-text">                            
                            <h1>COMPARTE</h1>                            
                            <p>Descarga estas imagenes en cualquier dispositivo. Compartelas con tu cliente desde su portal para que las pueda visualizar.</p>
                        </div>
                        <div style="background: transparent url('/assets/comparte.png') top right no-repeat padding-box; background-size: cover;" class="col-md d-md-none bg">
                            
                        </div>
                    </div>                   
                </div>
            </div>
        </div>
    </div>
</section>