
#android-row{
    padding-top: 10vw;
    padding-bottom: 10vw;
}
#android-inner-row h1, #android-inner-row h2{
    text-align: center;
    font-style: normal;
    font-variant: normal;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 1.6px;
    color: #022644;
    text-transform: uppercase;
    opacity: 1;
}
h1{
    font-weight: normal;
}
h2{
    font-weight: bold;
}
.left img, .right img{
    display:block;
    margin:auto;
    /* max-height: 75px; */
}

#connect-app-img{
    width: 100%;
    padding: 0;
}
@media screen and (min-width: 768px) {
    /* .right img{
         content: url('/assets/radar_mixed.png') !important;
    } */
    #android-inner-row h1, #android-inner-row h2{        
        font-size: 25px;
        line-height: 26px;  
    }
    .left img, .right img{
        max-height: 100%;
    }
    #connect-app-img{
        width: 75%;
        padding: 0;
    }
}
@media screen and (min-width: 992px) {
    #android-inner-row h1, #android-inner-row h2{        
        font-size: 30px;
        line-height: 40px;  
    }
    
    #android-row{
        /* background-image: url('/assets/base_2x.png');
        background-position: top center;
        background-repeat: no-repeat;
        background-size: auto 100%; */
    }
    .right img{
        max-height: 100%;
    }
    .left img{
        max-height: 100%;
    }
    #android-container{
        /* padding: 50px 70px; */
    }
}
@media screen and (min-width: 1200px) {
    #android-inner-row h1, #android-inner-row h2{        
        font-size: 29px;
        line-height: 32px;  
    }
    .right img{
        max-height: 100%;
    }
    .left img{
        max-height: 100%;
    }
}
@media screen and (min-width: 1400px) {
    #android-row{
        padding-top: 8vw;
        padding-bottom: 8vw;
    }
    #android-inner-row h1, #android-inner-row h2{        
        font-size: 29px;
        line-height: 32px;  
    }
    
    .right img{
        max-height: 100%;
    }
    .left img{
        max-height: 100%;
    }
}