<section>
    <div class="container-fluid" id="android-container">
        <div class="row justify-content-center" id="android-row">
            <div class="col-xxl-8 col-xl-9 col-lg-10">
                <div class="row h-60 justify-content-between" id="android-inner-row">
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-12 left d-flex flex-column d-none d-md-block">
                        <img loading="lazy" src="/assets/app_left.png" alt="playstore-logo"
                            class="align-self-end left img-fluid">
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-12 justify-content-center"
                        style="margin-top: auto; margin-bottom: auto;">
                        <div class="row">
                            <div class="col-12">
                                <h1>YA DISPONIBLE EN</h1>
                                <h2>PLAY STORE Y APP STORE</h2>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-6  d-flex flex-column">
                                <img loading="lazy" src="/assets/play_@2x.png" alt="playstore" class="img-fluid ">
                            </div>
                            <div class="col-6  d-flex flex-column">
                                <img loading="lazy" src="/assets/App-Store-Logo@2x.png" alt="appstore"
                                    class="img-fluid " style="max-width: 85%;">
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-12 right d-flex flex-column">
                        <picture>
                            <source srcset="/assets/radar_mixed.png" media="(max-width: 768px)">
                            <img loading="lazy" srcset="/assets/app_right.png" alt="applestore-logo"
                                class="align-self-end right img-fluid">
                        </picture>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>