<section>
    <div class="container-fluid" id="android-container">
        <div class="row justify-content-center" id="android-row">
            <div class="col-xxl-8 col-xl-9 col-lg-10">
                <div class="row h-60 justify-content-between" id="android-inner-row">
                    <div class="col-lg-5 right d-flex flex-column">
                        <h1>YA DISPONIBLE PARA</h1>
                        <h2>DISPOSITIVOS ANDROID</h2>
                        <img loading="lazy" src="/assets/play_@2x1.png" alt="playstore-logo" class="align-self-end img-fluid">
                    </div>
                    <div class="d-lg-none container-fluid" id="connect-app-img">
                        <img loading="lazy" src="/assets/Grupo 732.png" alt="connect" class="img-fluid">
                    </div>
                    <div class="col-lg-5 left d-flex flex-column">
                        <h1>PRÓXIMAMENTE EN</h1>
                        <h2>APP STORE</h2>
                        <img loading="lazy" src="/assets/App-Store-Logo@2x.png" alt="applestore-logo" class="align-self-end img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>