<section>
    <div class="container-fluid" id="fotografias-container">
        <div class="row justify-content-center">
            <div class="col-xxl-9">
                <div class="row h-100 w-100 align-items-center justify-content-around">
                    <div class="col-xxl-4 col-lg-5">
                        <h1>¿SIGUES UTILIZANDO UNA CÁMARA PARA LA TOMA DE FOTOGRAFÍAS?</h1>
                        <p>Deja de hacer las cosas como hace 10 años, hoy con <strong>RADAR CONNECT</strong> puedes tomar tus fotografías de recepción, diagnóstico, reparación, y todas las que necesites, y consultarlas en segundos en cualquier dispositivo.</p> 
                    </div>
                    <div class="col-xxl-5 col-lg-7">
                        <div id="compromisos-img">
                            <img src="/assets/bruno-yamazaky-h4wO0nlkL4Y-unsplash.png" class="img-fluid" alt="">
                        </div>  
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
