#fotografias-container{
    padding: 5%;
    padding-top: 50px;
    padding-bottom: 50px;
}
#fotografias-container h1{
    text-align: left;
    font-style: normal;
    font-weight: 600;
    font-variant: normal;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #022644;
    text-transform: uppercase;
    opacity: 1;
}
#fotografias-container p{

    text-align: left;
    font-style: normal;
    font-weight: 300;
    font-variant: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0px;
    color: #022644;
    opacity: 1;
}
#compromisos-img{
    width: 100%;
    height: auto;
    background-color: transparent;
    background: linear-gradient(180deg, #AFD625 0%, #AFD62500 100%) no-repeat;
    background-size: 100% 100%;
    background-position: right bottom;
    opacity: 1;
    margin-left: 12px;
    margin-top: 13px;
}
#compromisos-img img{
    position: relative;
    top: -13px;
    left: -12px;
}
@media screen and (min-width: 576px) {
    
    #fotografias-container h1{
        font-size: 30px;
        line-height: 39px;
    }
    #fotografias-container p{
        font-size: 19px;
        line-height: 26px;
    }
}
@media screen and (min-width:992px) {
        
    #compromisos-img{
        margin-left: 14px;
        margin-top: 24px;
    }
    #compromisos-img img{
        top: -24px;
        left: -14px;
    }
    #fotografias-container h1{
        font-size: 26px;
        line-height: 34px;
    }
    #fotografias-container p{
        font-size: 19px;
        line-height: 26px;
    }
}
@media screen and (min-width: 1200px) {
    #fotografias-container h1{
        font-size: 30px;
        line-height: 39px;
    }
    #fotografias-container p{
        font-size: 19px;
        line-height: 26px;
    }
}