#radar-academy-visitar{
    padding: 0px;
}
#radar-academy-visitar .row{
    margin: 0%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.resolver-dudas{
    width: 80%;
    text-align: left;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    color: #FFFFFF;
    opacity: 1;
}
#visitar-academy button{
    display: block;
    height: 38px;
    width: 100%;
    margin:auto;
    margin-top: 1rem;
    background: #AFD625 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    border: none;

    margin-top: 16px;
    margin-bottom:  16px;
}
#visitar-img{
    padding: 0%;
    padding-bottom: 16px;
    margin-bottom: 20px;
}
#visitar-academy {
    padding-left: 22px;
    padding-right: 22px;
    margin-bottom: 24px;
}
#visitar-academy button span{
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    font-style: normal;
    font-variant: normal;
    font-weight:600;
    letter-spacing: 0.66px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
#visitar-academy-img{
    margin: auto;
    margin-top: 13px;
    margin-bottom:  13px;
    display: block;
}
#movil.resolver-dudas{
    width: 100%;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    margin: auto;
    margin-top: 13px;
    margin-bottom:  13px;
    display: block;
    text-align: center;
    padding-left: 18px;
    padding-right: 18px;
}

@media screen and (min-width: 576px) {
    .resolver-dudas{
        width: 100%;
    }
    #visitar-academy button{
        min-height: 46px;
        height: auto;
        width: 70%;
        display: block;
    }
    #radar-academy-visitar{
        padding-top: 24px;
        padding-bottom: 24px;
    }
}
@media screen and (min-width: 760px) {
    #visitar-academy button{
        width: 60%;
        display: block;
    }
}
@media screen and (min-width: 992px){
    #visitar-academy button{
        width: 80%;
        display: inline;
    }
    #visitar-academy button span{
        font-size: 18px;
        line-height: 24px;
        font-style: normal;
        font-variant: normal;
        font-weight: 600;
    }    
}
@media screen and (min-width: 1200px) {
    #visitar-academy button{
        width: 70%;
        display: inline;
    }
}

@media screen and (min-width: 1400px) {
    #visitar-academy button{
        width: 60%;
        display: inline;
    }

}