<section>
    <div class="container-fluid" style="background: transparent url('/assets/fondo_herramientas.png') center top no-repeat padding-box; background-size: cover;" id="radar-academy-visitar">
        <div class="row align-items-center justify-content-center">
            <div class="d-lg-none">
                <p class="resolver-dudas" id="movil">Acceso en cualquier momento para resolver dudas del día a día</p>
            </div>
            <div class="col-10 col-xl-5 col-lg-6 align-self-center" id="visitar-img">
                <img loading="lazy" src="/assets/academy_compu.png" class="img-fluid" id="visitar-academy-img" alt="Radar Control Total acceso">
            </div>
            <div class="col-xl-3 col-lg-4" id="visitar-academy">
                <p class="d-none d-lg-block resolver-dudas ">Acceso en cualquier momento para resolver dudas del día a día</p>
                <button class="ga-call-to-action" data-ga-element="VISITAR RADAR ACADEMY"><span>VISITAR RADAR ACADEMY</span></button>
            </div>
        </div>
    </div>
</section>